<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="credencial" href="/tabs/credencial">
      <ion-icon aria-hidden="true" name="card"></ion-icon>
      <ion-label>Mi credencial</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="foto" href="/tabs/foto">
      <ion-icon aria-hidden="true" name="camera"></ion-icon>
      <ion-label>Mi foto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
