<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Micam App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Micam App</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="home-card-container">
    <ion-card-header>
      <ion-card-title>Mis datos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
<p>
Bienvenido a la app de Micam, Aqui podras obtener tu credencial digital y ver/seleccionar tu foto      
</p>
<ion-button tab="foto" href="/tabs/foto">Mi foto</ion-button>
<ion-button tab="credencial" href="/tabs/credencial">Mi credencial</ion-button>
</ion-card-content>
</ion-card>
  
</ion-content>
